@font-face {
  src: font-url('RobotoMono-Thin.ttf');
  font-family: 'RobotoMono-Thin';
}

@font-face {
  src: font-url('RobotoMono-Bold.ttf');
  font-family: 'RobotoMono-Bold';
}

@font-face {
  src: font-url('RobotoMono-Medium.ttf');
  font-family: 'RobotoMono-Medium';
}

@font-face {
  src: font-url('RobotoMono-Regular.ttf');
  font-family: 'RobotoMono-Regular';
}