.portfolio-item {
  background-color: lighten($color: #3b5998, $amount: 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  .links {
    display: flex;
    flex-direction: column;
    width: 160px;
    a {
      border-radius: 2px;
      padding: 8px;
      margin: 2px;
      background-color: lighten($color: #3b5998, $amount: 20);
    }
  }
}

.portfolio {
  .portfolio-card {
    background: lighten(#3b5998, 50%);
    min-width: 960px;
    width: fit-content;
    height: 100%;
    padding: 30px;
    border-radius: 3px;
  }
  table {
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      font-weight: bold;
    }
    tr {
      td {
        padding: 6px;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background: lighten(#3b5998, 30%);
      }
    }
  }
  button.bottom {
    border-radius: 2px;
    margin-top: 40px;
  }
}

.portfolio-new {
  background: lighten(#3b5998, 50%);
  padding: 12px;
  font-size: large;
  .field {
    padding-bottom: 16px;
    label {
      display: inline-block;
      width: 100px;
      text-align: right;
      padding-right: 12px;
    }
  }
  input[type=text] {
    background-color: lighten(#3b5998, 50%);
    border: solid 2px darkgray;
    min-width: 200px;

  }
  select {
    background-color: lighten(#3b5998, 50%);
    border: solid 2px darkgray;
    width: 200px;
  }
}
