.portfolio-item {
  background-color: lighten($color: #3b5998, $amount: 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 3px;
  .links {
    display: flex;
    flex-direction: column;
    width: 160px;
    a {
      border-radius: 2px;
      padding: 8px;
      margin: 2px;
      background-color: lighten($color: #3b5998, $amount: 20);
    }
  }
}

.portfolio {
  .portfolio-card {
    background: lighten(#3b5998, 50%);
    width: fit-content;
    padding: 30px;
    border-radius: 3px;
  }
  table {
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      font-weight: bold;
    }
    tr {
      td {
        padding: 6px;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background: lighten(#3b5998, 30%);
      }
    }
  }
  button.bottom {
    border-radius: 2px;
    margin-top: 40px;
  }
}
